<h2>Главная</h2>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Организации
				<span class="pull-right">
				<a href="/Organization/Create" class="btn btn-xs btn-success">Создать</a>
				</span>
				</h3>
			</div>
			<div class="panel-body">
				<table class="table">
					<thead>
					<tr>
						<td>Наименование</td>
						<td>Наименование</td>
						<td>Наименование</td>
					</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>
<script>
	function setActionTab() {
		$('nav li').removeClass('active');
		$('#home').addClass("active");
	}
</script>